
.mrg-t-5        { margin-top: 5px; }
.mrg-t-10       { margin-top: 10px; }
.mrg-t-15       { margin-top: 15px; }
.mrg-t-20       { margin-top: 20px; }
.mrg-t-25       { margin-top: 25px; }
.mrg-t-30       { margin-top: 30px; }
